body {
    font-family: sans-serif;
}

div.header_banner {
    background-color: #c51e3a;
    color: #ffffff;
    padding: 2em;
    margin: 2em;
    border-radius: 10px;
}

div.content {
    margin: 2em;
}