<!-- user dashboard -->

{% extends 'base.html' %}

{% block content %}
    Hello, {{ user.username|default:'Guest' }}!

    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a><br />
            <a href="{% url 'password_change' %}">Change password</a><br />
            <a href="{% url 'fetch' %}">Fetch new social media dataset</a><br />
            <a href="{% url 'visualize' %}">Create new visualization</a><br />
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
{% endblock %}
