<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-TxKWSXbsweFt0o2WqfkfJRRNVaPdzXJ/YLqgStggBVRREXkwU7OKz+xXtqOU4u8+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{% static 'css/sandbox.css' %}" media="screen,projection">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include js files -->
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sandbox.js' %}"></script>
    <title>Sandbox</title>
    <style>
    </style>
</head>

<body>

<div class="container">
    <h1>Sandbox</h1>
   <form action="" method="post">
       {% csrf_token %}
       {{ form.as_p }}

       <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

       <!-- Dropdown Structure -->
       <ul id='dropdown1' class='dropdown-content'>
           <li><a href="#1">one</a></li>
           <li><a href="#2">two</a></li>
           <li><a href="#3">three</a></li>
           <li><a href="#4"><i class="material-icons">view_module</i>four</a></li>
           <li><a href="#5"><i class="material-icons">cloud</i>five</a></li>
       </ul>
       <button class="btn waves-effect waves-light" type="submit" name="action">Send
           <i class="material-icons right">send</i>
       </button>
   </form>
</div>
</body>




